*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bg{
    width: 100%;
    height: 110%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg), url(overlay.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    text-align: center;
    color: white;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}
button {
    width: 200px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #09cc92;
    background: transparent;
    color: white;
    cursor: pointer;
}
.primary {
    width: 100%;
    height: 100vh;
    position: absolute;
    transform: translateY(85%);
    text-align: center;
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg-2.jpg);/* (360deg,#224e4d 10%,#083023 360%); */
    background-size: cover;
    z-index: 1;
}
.primary h1 {
    text-align: center;
    position: relative;
    top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
.primary h3 {
    text-align: center;
    position: relative;
    top: 50px;
    color: white;
    font-family: sans-serif;
}

.form {
    position: relative;
    top: 40px;
}
.inpbox {
    width: 800px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d44e26;
    background: transparent;
    color: white;
}
canvas {
    border: 1px solid #000;
    z-index: 2;
    position: relative;
    left: 53px;
    top: 10px;
}
.form {
    width: 1000px;
    padding: 15px 15px;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 20px;
    position: relative;
    left: 12%;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d44e26;
    background: transparent;
    color: rgb(0, 0, 0);
}
.form select {
    width: 800px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d44e26;
    background: transparent;
    color: rgb(148, 131, 131);
}
.form button {
    width: 800px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d44e26;
    background: transparent;
    color: rgb(239, 73, 73);
}
.button:hover {
    width: 800px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ff3c00;
    background: transparent;
    color: rgb(140, 85, 228);
}
