.primary {
    width: 100%;
    height: 100vh;
    position: absolute;
    transform: translateY(85%);
    text-align: center;
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(bg-2.jpg);/* (360deg,#224e4d 10%,#083023 360%); */
    background-size: cover;
}
.primary h1 {
    text-align: center;
    position: relative;
    top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.form {
    position: relative;
    top: 40px;
}
.inpbox {
    width: 200px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #09cc92;
    background: transparent;
    color: white;
}