*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.bg{
    width: 100%;
    height: 110%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../data/background.jpg), url(../data/overlay.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}
.navbar{
    width: 95%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    text-align: center;
    color: white;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}
button {
    width: 200px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #09cc92;
    background: transparent;
    color: white;
    cursor: pointer;
}
.primary {
    width: 100%;
    height: 100vh;
    position: absolute;
    transform: translateY(85%);
    text-align: center;
    color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../data/bg-2.jpg);/* (360deg,#224e4d 10%,#083023 360%); */
    background-size: cover;
    z-index: 1;
}
.primary h1 {
    text-align: center;
    position: relative;
    top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0px auto;
}
.primary h3 {
    text-align: center;
    position: relative;
    top: 50px;
    color: white;
    font-family: sans-serif;
    margin: 0px auto;
}
.inpbox {
    width: 600px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d44e26;
    background: transparent;
    color: white;
}
canvas {
    border: 1px solid #000;
    position: relative;
    margin: 0px auto;
}
.primary h2 {
    font-family: cursive;
    position: absolute; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: #d9e0cf;
}
.form {
    width: 1100px;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 0px auto;
    align-self: center;
    top: 40px; position: relative;
    font-weight: bold;
    border: 2px solid #d44e26;
    background: transparent;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.form-row {
    display: flex;
    gap: 10px; 
    align-items: center;
    margin-top: 10px;
    margin: 0px auto;
}
.form-input {
    width: 2000px;
    display: block;
    flex-wrap: wrap;
    align-self: center;
    margin: 0px auto;
}
.form select {
    width: 300px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d44e26;
    background: transparent;
    color: rgb(148, 131, 131);
}
.form button {
    width: 100px;
    padding: 15px 0;
    font-family: monospace;
    text-align: center;
    font-size: large;
    margin: 20px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #d44e26;
    background: transparent;
    color: rgb(239, 73, 73);
}
.createBtn {
    position: relative;
    top: 200px;
    left: 10px;
}
